*{
    font: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #005caa;
    color: rgb(51, 47, 47);
    padding: 10px 20px;
    width: 95vw;
  }
  
.header img {
    height: 30px;

}
  
.header h1 {
    margin: 0;
    font-size: 15px;
    font-family: 'Arial';
    font-weight: normal;
    color: #ffffff;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
  
.logo img {
    height: 40px;
}
  
.logo span {
    font-size: 24px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        text-align: center;
    }
  
  }

.nome p{
    font-family: 'Arial';
    font-size: 20px;
    font-weight: bolder;
    color: #005caa;
}

.apelido p{
    font-family: 'Arial';
    font-size: 15px;
    font-weight: normal;
    color: #5397d3;
}

.clubesAlinhamento{
    list-style-type: none;
}